--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

fastapi
uvicorn[standard]
python-dotenv
pydantic
chromadb
langchain-chroma
sentence-transformers
langchain
langchain-community
tiktoken
langchain-openai
pandas
lark
langchain-huggingface
